@model DataAccess.Pagination.PaginatedList<Contract>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Müqavilə Siyahısı";
    ViewData["MainTitle"] = "Müqavilə";
    ViewData["SubTitle"] = "Siyahısı";
    ViewData["services"] = "active";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}

<div class="card">
    <div class="card-body">
        <h5 class="mb-3">Axtar</h5>

        <form asp-action="SearchByName" asp-route-page="1" asp-controller="Restaurants" asp-area="Panel" method="get">
            <div class="input-group mb-3">
                <div class="form-group-feedback form-group-feedback-left w-75">
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Müqaviləni Axtar">
                    <div class="form-control-feedback form-control-feedback-lg">
                        <i class="icon-search4 text-muted"></i>
                    </div>
                </div>

                <div class="form-group-feedback w-auto">
                    <select name="searchOption" class="form-control form-control-lg">
                        <option value="1">Restoran</option>
                        <option value="2">Müqavilə</option>
                        <option value="3">Şəhər</option>
                    </select>
                </div>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-lg">Axtar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /search field -->
<!-- /search field -->
<!-- Bordered table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Müqavilə Siyahısı</h5>
        <div class="header-elements">
            
        </div>
    </div>

    

    <table class="table datatable-basic table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Müqavilə adı</th>
                <th>Rstoran</th>
                <th>Başlama tarixi</th>
                <th>Bitmə tarixi</th>
                <th>Qalır</th>
                <th>Satış əməkdaşı</th>
                <th class="text-center">Əməliyyatlar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.Count != 0)
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(i+1)</td>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].Restaurant.Name</td>
                            <td>@AzCulture.ToAzDateTimeFormatFull(Model[i].StartDate)</td>
                            <td>@AzCulture.ToAzDateTimeFormatFull(Model[i].EndDate)</td>
                            <td>@((AzCulture.Difference(Model[i].EndDate, Model[i].StartDate)).Humanize(5, maxUnit:TimeUnit.Year, minUnit:TimeUnit.Day, culture:AzCulture.AzCulture()))</td>
                            <td>@Model[i].Employee.FullName</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a asp-controller="Contracts" asp-action="Update" asp-route-id="@Model[i].Id" class="dropdown-item"><i class="icon-pencil"></i>Redaktə Et</a>
                                            <a data-toggle="modal" data-target="#modal_theme_danger-@Model[i].Id" class="dropdown-item"><i class="icon-eraser3"></i>Sil</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    }
                }
            }

        </tbody>
    </table>
</div>
<!-- /bordered table -->



@foreach (var contract in Model)
{
    <div id="modal_theme_danger-@contract.Id" class="modal fade" tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h6 class="modal-title">Müqaviləni silmək @contract.Name</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <h6 class="font-weight-semibold">Önəmli Qeyd!!!</h6>
                    <p>Məhsulu silmək istədiyinizdən əminmisiniz mi? </p>

                </div>

                <div class="modal-footer">
                    <form asp-action="Delete" asp-controller="Contracts" asp-area="Panel" asp-route-id="@contract.Id" method="post">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Bağla</button>
                        <button type="submit" class="btn bg-danger">Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<ul class="pagination align-self-end">
    <li class="page-item @prevDisabled"><a href="#" class="page-link">&larr; &nbsp; Prev</a></li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <td>
            @if (i != Model.PageIndex)
            {
            <li class="page-item active"><a href="#" class="page-link">@i</a></li>
        }
        else
        {
            <li class="page-item disabled"><a href="#" class="page-link">@i</a></li>
        }
            </td>
        }
    <li class="page-item @nextDisabled"><a href="#" class="page-link">Next &nbsp; &rarr;</a></li>
</ul>
