@model Infrastructure.Restaurants.ViewModels.CreateRestaurantInDetailsVm;

@{ Layout = "_Layout";
                ViewData["Title"] = "Restoran əlavə et";
                ViewData["MainTitle"] = "Restoranlar";
                ViewData["SubTitle"] = "Əlavə et"; }
@section scripts
{

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/Limitless/global_assets/js/demo_pages/form_inputs.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_validation.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_actions.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_select2.js"></script>


}


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Restoran Bölmələrı</h5>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item"><a asp-controller="Restaurants" asp-action="Index" asp-route-page="1" class="nav-link active">Restoranlar</a></li>
            <li class="nav-item"><a asp-controller="RestaurantStatuses" asp-action="Index" asp-route-page="1" class="nav-link">Statuslar</a></li>
            <li class="nav-item"><a asp-controller="RestaurantNetworks" asp-action="Index" asp-route-page="1" class="nav-link">Restoran şəbəkələri</a></li>
            <li class="nav-item"><a asp-controller="Contracts" asp-action="Index" asp-route-page="1" class="nav-link">Müqavilələr</a></li>
            <li class="nav-item"><a asp-controller="RestaurantMeetings" asp-action="Index" asp-route-page="1" class="nav-link">Görüşlər</a></li>
            <li class="nav-item"><a asp-controller="Partners" asp-action="Index" asp-route-page="1" class="nav-link">Partnerlər</a></li>
            <li class="nav-item"><a asp-controller="BlackList" asp-action="Index" asp-route-page="1" class="nav-link">Qara siyahı</a></li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Restoran əlavə et</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Add" asp-controller="Restaurants" asp-area="Panel" method="post" enctype="multipart/form-data">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Restoranlar</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Restoran adı</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="@Model.CreateRestaurantVm.Name">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantVm.Name" class="text-danger"></span>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Ünvan</label>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="@Model.CreateRestaurantVm.Address">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantVm.Address" class="text-danger"></span>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Əlaqə nömrəsi</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.CreateRestaurantVm.PhoneNumber">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantVm.PhoneNumber" class="text-danger"></span>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Şəhər </label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.CreateRestaurantVm.City">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantVm.City" class="text-danger"></span>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Status</label>
                    <div class="form-check form-check-inline">
                        <div class="col-lg-3">
                            <select class="form-control select-fixed-single" asp-for="@Model.CreateRestaurantVm.StatusId" asp-items="@Model.CreateRestaurantVm.Status" data-fouc>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Şəbəkə</label>
                    <div class="form-check form-check-inline">
                        <div class="col-lg-3">
                            <select class="form-control select-fixed-single" asp-for="@Model.CreateRestaurantVm.NetworkId" asp-items="@Model.CreateRestaurantVm.Networks" data-fouc>
                            </select>
                        </div>
                    </div>
                </div>




                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Restoranla əlaqəli şəxs</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.CreateRestaurantContactVm.Name">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantContactVm.Name" class="text-danger"></span>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Şəxsin vəzifəsi</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.CreateRestaurantContactVm.Position">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantContactVm.Position" class="text-danger"></span>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Şəxsin əlaqə nömrəsi</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.CreateRestaurantContactVm.PhoneNumber">
                    </div>
                </div>
                <span asp-validation-for="@Model.CreateRestaurantContactVm.PhoneNumber" class="text-danger"></span>

                <button type="submit" class="btn bg-blue ml-3">Əlavə et<i class="icon-paperplane ml-2"></i></button>
            </fieldset>
        </form>

    </div>
</div>