@model DataAccess.Pagination.PaginatedList<Position>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Vəzifə siyahısı";
    ViewData["MainTitle"] = "Vəzifə";
    ViewData["SubTitle"] = "Siyahısı";
    ViewData["employees"] = "active";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    int counter = 1;
    int modalCounter = 1;
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">İşçilər və vəzifələr Bölməsi</h5>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item"><a asp-controller="Employees" asp-action="Index" asp-route-page="1" class="nav-link">İşçilər</a></li>
            <li class="nav-item"><a asp-controller="Positions" asp-action="Index" asp-route-page="1" class="nav-link active ">Vəzifələr</a></li>
            <li class="nav-item"><a asp-controller="EmployeeFaults" asp-action="Index" asp-route-page="1" class="nav-link">Xətalar</a></li>
            <li class="nav-item"><a asp-controller="EmployeePunishments" asp-action="Index" asp-route-page="1" class="nav-link">Cəzalar</a></li>
        </ul>
        <div class="d-md-flex align-items-md-center flex-md-wrap text-center text-md-left">
            <ul class="list-inline list-inline-condensed mb-0">
                <li class="list-inline-item dropdown">
                    <a asp-action="Add" asp-controller="Positions" class="btn btn-link text-default"><i class="icon-add"></i> Yeni <strong>vəzifə</strong> əlavə et</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="card">

    <div class="card-body">
    

        <table class="table datatable-sorting">
            <thead>
            <tr>
                <th>No</th>
                <th>Vəzifə Adı</th>
                <th>Vəzifənin İşçi sayı</th>
                <th class="text-center">Əməliyyatlar</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Any())
            {
                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].Name</td>
                        @if (Model[i].Employees != null)
                        {
                            <td>@Model[i].Employees.Count</td>
                        }
                        else
                        {
                            <td>Yoxdur</td>
                        }
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-controller="Positions" asp-action="Update" asp-route-id="@Model[i].Id" class="dropdown-item"><i class="icon-pencil"></i>Redaktə Et</a>
                                        <a data-toggle="modal" data-target="#modal_theme_danger-@counter" class="dropdown-item"><i class="icon-eraser3"></i>Sil</a>
                                        @{
                                            counter += 1;
                                        }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<!-- /default ordering -->


@foreach (var position in Model)
{
    <div id="modal_theme_danger-@modalCounter" class="modal fade" tabindex="-1">
        @{
            modalCounter += 1;
        }
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h6 class="modal-title">Vəzifə silinəcək @position.Name</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <h6 class="font-weight-semibold">Önəmli qeyd!!!</h6>
                    <p> Sildiyiniz vəzifə geri qayıtmıyacaq.</p>

                </div>

                <div class="modal-footer">
                    <form asp-action="Delete" asp-controller="Positions" asp-area="Panel" asp-route-id="@position.Id" method="post">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Bağla</button>
                        <button type="submit" class="btn bg-danger">Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@{
    var start = Math.Max((Model.PageIndex - 3), 1);
    int ends = Math.Min((Model.PageIndex + 3), Model.TotalPages);
}
<ul class="pagination align-self-end ">
    <li class="page-item @prevDisabled"><a asp-action="Index" asp-controller="Positions" asp-route-page="@(Model.PageIndex - 1)" class="page-link">&larr; &nbsp; Prev</a></li>
    @for (int i = start; i <= ends; i++)
    {
        <td>
            @if (i != Model.PageIndex)
            {
            <li class="page-item"><a asp-action="Index" asp-controller="Positions" asp-route-page="@i" class="page-link">@i</a></li>
        }
        else if (i == Model.PageIndex)
        {
            <li class="page-item active"><a asp-action="Index" asp-controller="Positions" asp-route-page="@i" class="page-link">@i</a></li>
        }
        else
        {
            <li class="page-item disabled"><a asp-action="Index" asp-controller="Positions" asp-route-page="@i" class="page-link">@i</a></li>
        }
            </td>
        }
    <li class="page-item @nextDisabled"><a asp-action="Index" asp-controller="Positions" asp-route-page="@(Model.PageIndex+1)" class="page-link">Next &nbsp; &rarr;</a></li>
</ul>