@model DataAccess.Pagination.PaginatedList<Restaurant>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Restoranların siyahısı";
    ViewData["MainTitle"] = "Restoran növləri";
    ViewData["SubTitle"] = "Siyahı";
    ViewData["restaurants"] = "active";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var cultInfo = CultureInfo.GetCultureInfo("az-Latn-AZ");
}
@section scripts
{
    <script src="~/Limitless/global_assets/js/plugins/ui/fab.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/ui/sticky.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/ui/prism.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/extra_fab.js"></script>

}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Bölmələr</h5>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item"><a asp-controller="Restaurants" asp-action="Index" asp-route-page="1" class="nav-link">Restoranlar</a></li>
            <li class="nav-item"><a asp-controller="RestaurantStatuses" asp-action="Index" asp-route-page="1" class="nav-link active">Statuslar</a></li>
            <li class="nav-item"><a asp-controller="RestaurantNetworks" asp-action="Index" asp-route-page="1" class="nav-link">Restoran şəbəkələri</a></li>
            <li class="nav-item"><a asp-controller="Contracts" asp-action="Index" asp-route-page="1" class="nav-link">Müqavilələr</a></li>
            <li class="nav-item"><a asp-controller="RestaurantMeetings" asp-action="Index" asp-route-page="1" class="nav-link">Görüşlər</a></li>
            <li class="nav-item"><a asp-controller="Partners" asp-action="Index" asp-route-page="1" class="nav-link">Partnerlər</a></li>
            <li class="nav-item"><a asp-controller="BlackList" asp-action="Index" asp-route-page="1" class="nav-link">Qara siyahı</a></li>
        </ul>
    </div>
    <div class="d-md-flex align-items-md-center flex-md-wrap text-center text-md-left">
        <ul class="list-inline list-inline-condensed mb-0">
            <li class="list-inline-item dropdown">
                <a asp-action="Create" asp-controller="RestaurantStatuses" class="btn btn-link text-default"><i class="icon-add"></i> Yeni <strong>status</strong> əlavə et</a>
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="mb-3">Restoran axtar</h5>

        <form asp-action="SearchByName" asp-route-page="1" asp-controller="Restaurants" asp-area="Panel" method="get">
            <div class="input-group mb-3">
                <div class="form-group-feedback form-group-feedback-left w-75">
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Axtar">
                    <div class="form-control-feedback form-control-feedback-lg">
                        <i class="icon-search4 text-muted"></i>
                    </div>
                </div>

                <div class="form-group-feedback w-auto">
                    <select name="searchOption" class="form-control form-control-lg">
                        <option value="1">Restoran</option>
                        <option value="2">Müqavilə</option>
                        <option value="3">Şəhər</option>
                    </select>
                </div>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-lg">Axtar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /search field -->


@if (Model != null)
{
    @foreach (var restaurant in Model)
    {
        <!-- Bordered table -->
        <div class="card">
            <div class="card-header header-elements-inline">

                <h4 class="card-title">Status: @restaurant.RestaurantStatus.Name</h4>
                <h3 class="card-title">Restoran: @restaurant.Name</h3>
                <div class="btn-group col-md-1">
                    <button type="button" class="btn bg-purple-300 btn-icon dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-link"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a asp-controller="Restaurants" asp-action="GetById" asp-route-id="@restaurant.Id" class="dropdown-item"><i class="icon-add"></i> Təfərrüatlar</a>
                        <a asp-controller="Contracts" asp-action="Add" asp-route-id="@restaurant.Id" class="dropdown-item"><i class="icon-add"></i> Yeni Müqavilə</a>
                        <a asp-controller="Restaurants" asp-action="UpdateStatus" asp-route-id="@restaurant.Id" class="dropdown-item"><i class="icon-add"></i> Statusu dəyiş</a>
                        <a asp-controller="RestaurantContacts" asp-action="Add" asp-route-id="@restaurant.Id" class="dropdown-item"><i class="icon-add"></i> Yeni əlaqə</a>
                        <a asp-controller="RestaurantMeetings" asp-action="Add" asp-route-id="@restaurant.Id" class="dropdown-item"><i class="icon-add"></i> Görüşlər</a>
                        <a asp-controller="RestaurantContacts" asp-action="RestaurantContacts" asp-area="Panel" asp-route-id="@restaurant.Id" asp-route-page="1" class="dropdown-item"><i class="icon-folder-search"></i> Əlaqələr</a>  
                        @if (restaurant.RestaurantNetworkId.HasValue)
                        {
                            <a asp-controller="Restaurants" asp-action="Update" asp-area="Panel" asp-route-id="@restaurant.Id" asp-route-networkId="@restaurant.RestaurantNetworkId.Value" class="dropdown-item"><i class="icon-folder-search"></i> Redaktə et</a>
                        }
                        else
                        {
                    <a asp-controller="Restaurants" asp-action="Update" asp-area="Panel" asp-route-id="@restaurant.Id" asp-route-networkId="0" class="dropdown-item"><i class="icon-folder-search"></i> Redaktə et</a>
                        }
                        <a data-toggle="modal" data-target="#modal_theme_danger-@restaurant.Id-restaurant" class="dropdown-item"><i class="icon-eraser"></i> Sil</a>

                    </div>


                </div>

            </div>

            <table class="table datatable-basic table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Müqavilə adı</th>
                        <th>İşçi</th>
                        <th>Başladı</th>
                        <th>Bitdi</th>
                        <th>Müddət</th>
                        <th>Qalıq</th>
                        <th class="text-center">Əməliyyatlar</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }
                    @foreach (var contract in restaurant.Contract)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@contract.Name</td>
                            <td>@contract.Employee.FullName</td>
                            <td>@contract.StartDate.ToString("d/M/yyyy", cultInfo)</td>
                            <td>@contract.EndDate.ToString("d/M/yyyy", cultInfo)</td>
                            <th>@((contract.EndDate - contract.StartDate ).Humanize(4,maxUnit: TimeUnit.Year, culture:cultInfo))</th>
                            <th>@((contract.EndDate - DateTime.Now.ToAzDateTime()).Humanize(6,maxUnit: TimeUnit.Year, minUnit:TimeUnit.Hour, culture:AzCulture.AzCulture()))</th>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a asp-controller="ContractPayments" asp-action="ContractPayments" asp-route-id="@contract.Id" asp-route-page="1" class="dropdown-item"><i class="icon-cash"></i>Ödənişlər</a>
                                            <a asp-controller="ContractPayments" asp-action="Add" asp-route-id="@contract.Id" class="dropdown-item"><i class="icon-add"></i>Ödəniş əlavə et</a>
                                            <a asp-controller="Contracts" asp-action="Update" asp-route-id="@contract.Id" class="dropdown-item"><i class="icon-pencil"></i>Redaktə et</a>
                                            <a data-toggle="modal" data-target="#modal_theme_danger-@contract.Id" class="dropdown-item"><i class="icon-eraser3"></i>Sil</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /bordered table -->
    }
}


@if (Model != null)
{

    @foreach (var restaurant in Model)
    {
        @foreach (var contract in restaurant.Contract)
        {
            <div id="modal_theme_danger-@contract.Id" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h6 class="modal-title">Müqavilə silinəcək: @contract.Name</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h6 class="font-weight-semibold">Vacib qeyd!!!</h6>
                            <p>Bu müqaviləni silmək istədiyinizdən əminsiniz mi? </p>
                        </div>

                        <div class="modal-footer">
                            <form asp-action="Delete" asp-controller="Contracts" asp-area="Panel" asp-route-id="@contract.Id" method="post">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Bağla</button>
                                <button type="submit" class="btn bg-danger">Sil</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


@if (Model != null)
{

    @foreach (var restaurant in Model)
    {
        <div id="modal_theme_danger-@restaurant.Id-restaurant" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Restoran silinəcək: @restaurant.Name</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Vacib qeyd!!!</h6>
                        <p>Bu restoranı silmək istədiyinizdın əminsiniz mi?</p>
                    </div>

                    <div class="modal-footer">
                        <form asp-action="Delete" asp-controller="Restaurants" asp-area="Panel" asp-route-id="@restaurant.Id" method="post">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Bağla</button>
                            <button type="submit" class="btn bg-danger">Sil</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}



<ul class="pagination align-self-end">
    <li class="page-item @prevDisabled"><a href="#" class="page-link">&larr; &nbsp; Prev</a></li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <td>
            @if (i != Model.PageIndex)
            {
            <li class="page-item active"><a href="#" class="page-link">@i</a></li>
        }
        else
        {
            <li class="page-item disabled"><a href="#" class="page-link">@i</a></li>
        }
            </td>
        }

    <li class="page-item @nextDisabled"><a href="#" class="page-link">Next &nbsp; &rarr;</a></li>
</ul>


<script type="text/javascript">
    $(document).ready(() => {
        $('div').remove('.dataTables_paginate');
        $('div').remove('.dataTables_length');
        $('div').remove('.datatable-header');
    })
</script>