@model Infrastructure.RestaurantContacts.ViewModels.CreateRestaurantContactDetailVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Restorana Əlaqəsi Əlavə Etmək";
    ViewData["MainTitle"] = "Restoran Əlaqəsi";
    ViewData["SubTitle"] = "Əlavə Etmək";
}
@section scripts
{

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/Limitless/global_assets/js/demo_pages/form_inputs.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_validation.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_actions.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/form_select2.js"></script>

    <link href="~/lib/summernote/summernote-bs5.css" rel="stylesheet" />
    <script src="~/Limitless/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/Limitless/global_assets/js/demo_pages/editor_summernote.js"></script>
    <script src="~/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js"></script>


}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Restoran Bölmələrı</h5>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item"><a asp-controller="Restaurants" asp-action="Index" asp-route-page="1" class="nav-link active">Restoranlar</a></li>
            <li class="nav-item"><a asp-controller="RestaurantStatuses" asp-action="Index" asp-route-page="1" class="nav-link">Statuslar</a></li>
            <li class="nav-item"><a asp-controller="RestaurantNetworks" asp-action="Index" asp-route-page="1" class="nav-link">Restoran şəbəkələri</a></li>
            <li class="nav-item"><a asp-controller="Contracts" asp-action="Index" asp-route-page="1" class="nav-link">Müqavilələr</a></li>
            <li class="nav-item"><a asp-controller="RestaurantMeetings" asp-action="Index" asp-route-page="1" class="nav-link">Görüşlər</a></li>
            <li class="nav-item"><a asp-controller="BlackList" asp-action="Index" asp-route-page="1" class="nav-link">Qara siyahı</a></li>
        </ul>
        <div class="d-md-flex align-items-md-center flex-md-wrap text-center text-md-left">
            <ul class="list-inline list-inline-condensed mb-0">
                <li class="list-inline-item dropdown">
                    <a asp-action="Add" asp-controller="Restaurants" class="btn btn-link text-default"><i class="icon-add"></i> Yeni <strong>restoran</strong> əlavə et</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Restoran Əlaqəsi</h5>
        
    </div>

    <div class="card-body">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Add" asp-controller="RestaurantContacts" asp-area="Panel" method="post" enctype="multipart/form-data">
            
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Restoran Əlaqəsi</legend>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Restoranda şəxs</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.Name">
                    </div>
                </div>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Vəzifəsi</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.Position">
                    </div>
                </div>
                <span asp-validation-for="@Model.Position" class="text-danger"></span>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Mobil nömrəsi</label>
                    <div class="col-lg-5">
                        <input class="form-control" asp-for="@Model.PhoneNumber">
                    </div>
                </div>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                 
                <input asp-for="RestaurantId" hidden value="@Model.RestaurantId" />

                <button type="submit" class="btn bg-blue ml-3">Əlavə Et<i class="icon-paperplane ml-2"></i></button>
            </fieldset>
        </form>

    </div>
</div>